@import url("https://fonts.googleapis.com/css2?family=Gaegu&family=Gemunu+Libre&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin-top: 50px;
}
/* main things */
.container {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.pool {
  width: 600px;
  height: 600px;
  padding: 50px;
  background-color: #8377d1;
  border-radius: 20px;
  margin-bottom: 50px;
}

.draw {
  width: 500px;
  height: 500px;
  display: grid;
  background-color: white;
}
.settings {
  width: 600px;
  display: flex;
  justify-content: space-around;
}

.size {
  display: flex;
  gap: 15px;
}
.colors {
  margin-left: 100px;
  gap: 15px;
  display: flex;
}

button {
  padding: 6px;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  font-family: Gaegu;
  font-size: 1em;
  font-weight: 700;
}

button:hover {
  scale: 1.1;
  transform: 0.5s;
}
.activeButton {
  border: 3px solid lightblue;
  background-color: brown;
  color: whitesmoke;
  scale: 1.1;
}

/* Typography */

h1 {
  font-family: Gaegu;
  font-size: 5em;
}

h2 {
  font-family: Gaegu;
  font-size: 2em;
}
